@font-face {
    font-family: Norse-Bold;
    src: url(./fonts/Norse-Bold.otf);
}

:root {
    --custom-font-style: Norse-Bold, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; 
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.first-container,
.second-container {
    position: relative;
    width: 500px;
    height: 800px;
    border: 5px solid red;
}

.main-background {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 160px;
    width: 100%;
    height: 150px;
    background-color: hsla(0, 0%, 0%, 0.5);
}

.logo-logo {
    width: auto;
    height: 80%;
}

.logo-text {
    font-family: var(--custom-font-style);
    color: white;
    font-size: 80px;
}

.credits {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    color:white;
    text-align: center;
}

a {
    color:white;
    text-decoration: underline;
}

a:visited {
    text-decoration: none;
}
