:root, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Norse-Bold;
    src: url(./fonts/Norse-Bold.otf);
}

:root {
    --custom-font-style: Norse-Bold, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

    --content-font-style: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

body {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.first-container,
.second-container {
    flex: 1 1 auto;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.first-container {
    flex-basis: 35%;
    position: relative;
}

.main-background {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 160px;
    width: 100%;
    height: 150px;
    background-color: hsla(0, 0%, 0%, 0.5);
}

.logo-logo {
    width: auto;
    height: 80%;
}

.logo-text {
    font-family: var(--custom-font-style);
    color: white;
    font-size: 80px;
}

.credits {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    color:white;
    text-align: center;
}

.first-container a {
    color:white;
    text-decoration: underline;
}

.firstcontainer a:visited {
    text-decoration: none;
}

.second-container {
    flex-basis: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
}

.announcement {
    padding: 0 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
    height: 310px;
    width: auto;
    background-color: rgb(248, 248, 248);
}

.announcement>p {
    padding: 0;
    margin: 0;
    font-family: var(--content-font-style);
    font-size: 20px;
    font-weight: bold;
    text-align:justify;
    max-width: 70%;
}

.container-forms {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    background-color: rgb(248, 248, 248);
}

.container-forms p {
    font-family: var(--content-font-style);
    margin: 0;
    padding: 0;
    padding: 10px 50px;
}

.container-forms p:first-child {
    font-size: 18px;
    font-weight: bold;
    color: rgb(59, 59, 59);
    background-color: white;
}

.container-forms p:last-child {
    font-size: 14px;
}

.container-forms a {
    color: #596D48;
    font-weight: bold;
    text-decoration: none;
}

.container-forms a:visited {
    text-decoration: none;
}

form, fieldset {
    margin: 0;
    padding: 0;
}

button {
    margin: 40px 50px 20px 50px;
    padding: 8px 32px;
    text-align: center;
    font-family: var(--content-font-style);
    font-size: 13px;
    font-weight: bold;
    color: white;
    background-color: #596D48;
    border: none;
    border-radius: 5px;
}

fieldset {
    padding: 0 350px 0 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: left;
    background-color: white;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}

fieldset div {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

label {
    font-family: var(--content-font-style);
    font-size: 14px;
    letter-spacing: 1px;
    color:black;
}

input {
    border: 1px solid #E5E7EB;
    border-radius: 5px;
    padding: 2px;
}

input:focus {
    outline: none;
    border: 1px solid #0055ff;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}

input:valid {
    outline: none;
    border: 1px solid #596D48;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}

.error > input:invalid {
    outline: none;
    border: 1px solid #ff0000;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}