body {
    height: 100vh;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.first-container,
.second-container {
    position: relative;
    width: 500px;
    height: 800px;
    border: 5px solid red;
}

.main-background {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 160px;
    width: 100%;
    height: 150px;
    background-color: hsla(0, 0%, 0%, 0.5);
}

.logo-logo {
    margin: 10px;
    width: auto;
    height: 50%;
}

.logo-text {
    color: white;
    font-size: 30px;
}